@import '~antd/dist/antd.css';
@import '~leaflet/dist/leaflet.css';

.sidebar-dragger {
  background-color: #a09e9e;
  width: 2px;
  cursor: ew-resize;
  margin-left: 2px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;

}
